html {
    color: white;
    background-color: black;
}

.poster {
    margin-top: 50px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    align-content: center;
}

img {
    border: solid white;
    border-width: 5px;
    width: 300px;
    height: 250px;
}

h1 {
    text-transform: uppercase;
}